@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero__video {
  height: 56vw;
  width: 100%;
}

.video-details {
  @include desktop {
    padding: 1rem 0 0 2rem;
  }

  &__channel {
    width: 50%;
    @include tablet {
      display: flex;
    }
  }

  &__icons {
    width: 50%;
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__container {
    border-bottom: 1px solid $Silver;
    border-top: 1px solid $Silver;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;

    @include tablet {
      border-top: unset;
      padding: unset;
    }
  }

  &__title {
    padding-bottom: 1rem;
  }
}

//Next Video Section

.next-video {
  padding: 1rem;

  @include desktop {
    padding: 1rem 0 1rem 0;
  }

  &__item {
    list-style: none;

    &-container {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
    }
  }

  &__image {
    height: 29vw;
    width: 38vw;
    background-color: $Mercury;
    object-position: top;
    @include tablet {
      height: 12vw;
      width: 18vw;
    }

    &-container {
      height: 21vw;
      width: 66vw;
      overflow: hidden;
      margin-right: 1rem;
      border-radius: 4px;
      object-position: center;

      @include tablet {
        height: 10vw;
        width: 20vw;
        margin: 0 1rem 1rem 0;
      }
    }
  }

  &__content {
    width: 100%;
  }

  &__heading {
    color: $Silver;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include tablet {
      margin: 0 0 2rem 0;
    }
  }

  &__channel {
    margin: 1rem 0 0 0;
    @include tablet {
      margin: 0.5rem 0 0 0;
    }
  }

  &__title {
    @include tablet {
      width: 29%;
    }
    @include desktop {
      width: 70%;
    }
  }
}

.video-container {
  @include desktop {
    display: flex;
  }
}
