@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $Mercury;
  @include tablet {
    align-items: flex-start;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    @include tablet {
      margin-left: 2rem;
    }
    &--heading {
      color: $Silver;
      margin-top: 2rem;
    }
    &--title {
      display: flex;
      justify-content: center;
      padding-left: 0.5rem;
      width: 85vw;
      height: 10vw;
      border-radius: 4px;
      border: 1px solid #e1e1e1;
      background-color: #fafafa;
      @include tablet {
        height: 6vw;
      }
      @include desktop {
        width: 45vw;
        height: 5vw;
      }
    }
    &--title::placeholder {
      color: black;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    @include tablet {
      border-bottom: 1px solid $Mercury;
      margin-left: 2rem;
    }
    @include desktop {
      border-bottom: none;
    }
    &--heading {
      text-transform: uppercase;
      color: $Silver;
      margin-top: 2rem;
    }
    &--textarea {
      display: flex;
      font-family: Avenir Next;
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      width: 85vw;
      height: 30vw;
      border-radius: 4px;
      border: 1px solid #e1e1e1;
      background-color: #fafafa;
      color: black;
      resize: none;
      @include tablet {
        height: 20vw;
        margin-bottom: 2rem;
      }
      @include desktop {
        width: 45vw;
        height: 10vw;
      }
    }
    &--textarea::placeholder {
      color: black;
    }
  }
  &__heading {
    align-self: flex-start;
    margin: 2rem 2rem 2rem 1rem;
    @include tablet {
      align-self: center;
      width: 93vw;
    }
  }
  &__thumbnail {
    color: black;
    &--heading {
      margin: 0rem 1rem 0.5rem 0;
      text-transform: uppercase;
      color: $Silver;
      @include tablet {
        margin-left: 2rem;
        margin-top: 2rem;
      }
    }
    &--image {
      width: 90vw;
      height: 55vw;
      border-radius: 4px;
      @include tablet {
        width: 50vw;
        height: 30vw;
        margin-left: 2rem;
      }
      @include desktop {
        width: 40vw;
        height: 23vw;
      }
    }
  }
  &__button {
    height: 15vw;
    width: 90vw;
    border-radius: 0.25rem;
    background-color: $BrainFlix-Blue;
    border-style: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    @include tablet {
      height: 7vw;
      width: 30vw;
      margin: 0rem 4rem;
    }
    @include desktop {
      height: 5vw;
      width: 20vw;
    }
    &--text {
      margin-left: 5rem;
      margin-right: 6rem;
      text-transform: uppercase;
      @include tablet {
        margin-left: 3rem;
        margin-right: 3rem;
      }
    }
  }
  &__cancel {
    color: $BrainFlix-Blue;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2rem 0rem;
  }
  &__container--button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      width: 100%;
    }
  }
  &__container {
    @include tablet {
      display: flex;
      border-bottom: 1px solid $Mercury;
      border-top: 1px solid $Mercury;
      flex-direction: column;
      width: 100%;
    }
    @include desktop {
      border-bottom: 1px solid $Mercury;

      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      flex-direction: row;
      width: 100%;
    }
  }
}
