@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.comments {
  padding: 0.5rem 1rem 1rem 1rem;
}
.comments__form-container {
  display: flex;
}
.comments__avatar {
  width: 50%;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  background-color: #e1e1e1;
  margin: 1rem 0.5rem 0 0;

  @include tablet {
    height: 3rem;
    width: 3rem;
  }
}
.comments__textarea-title {
  display: flex;
  flex-direction: column;
  color: $Silver;
}

.comments__item-container {
  display: flex;
  border-bottom: #e1e1e1 solid 1px;
  border-top: #e1e1e1 solid 1px;
}

.comments__header {
  display: flex;
  justify-content: space-between;
}

.comments__item {
  list-style: none;
}

.comments__avatars {
  height: 36px;
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  background-color: #e1e1e1;
  margin: 1rem 0.5rem 0 0;

  @include tablet {
    height: 3rem;
    width: 3rem;
  }
}
.comments__count {
  margin: 0 0 1rem 0;
}

.comments__textarea-container {
  width: 100%;
}

.comments__textarea {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid $Mercury;
  padding: 12px 0 19px 14px;
  border-radius: 4px;
  border-color: #e1e1e1;
  background-color: #fafafa;
  resize: none;
}

.comments__button {
  height: 40px;
  width: 100%;
  border-radius: 0.25rem;
  background-color: $BrainFlix-Blue;
  border-style: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  @include tablet {
    min-width: 150px;
    padding: 0 2rem;
  }
  &--text {
    text-align: center;
    margin: 0 auto;
  }
  &--img {
    justify-content: flex-start;
    margin: 0 0 0 0.5rem;
  }
  &:hover {
    background-color: $BrainFlix-DarkBlue;
  }
}

.comments__timestamp {
  color: $Silver;
}

.comments__header {
  margin: 0 0 0.5rem 0;
}

.comments__text {
  margin: 0 0 0.5rem 0;
}
